/*------------------------------------*\
    #RESPOND-TO
\*------------------------------------*/


/**
 * Mixin que inseri media-querie em tempo de compilação
 *
 */



@mixin respond-to($media) {
  @if $media == small-320 {
    // Iphone
    @media only screen and (min-width: 0em) { @content; }/* min-width 0px, mobile-only styles, use when QAing mobile issues */
    @media only screen and (min-width: 0em) and (max-width: 20em) { @content; } /* min-width 0px and max-width 320px, use when QAing tablet-only issues */
  }
  @if $media == small-screen {
    // Foundation
    @media only screen and (min-width: 20.063em) { @content; }/* min-width 320px, mobile-only styles, use when QAing mobile issues */
    @media only screen and (min-width: 20.063em) and (max-width: 39.938em) { @content; } /* min-width 320px and max-width 639px, use when QAing tablet-only issues */
  }
  @else if $media == medium-screen {
    // Foundation
    @media only screen and (min-width: 40.0em) { @content; }/* min-width 640px, medium screens */
    @media only screen and (min-width: 40.0em) and (max-width: 63.938em) { @content; } /* min-width 640px and max-width 1023px, use when QAing tablet-only issues */
  }
  @else if $media == large-1024 {
  // Foundation - 64.063em
    @media only screen and (min-width: 64.0em) { @content; }  /* min-width 1024px, large screens */
    @media only screen and (min-width: 64.0em) and (max-width: 79.938em) { @content; } /* min-width 1024px and max-width 1279px, use when QAing large screen-only issues */
  }
  @else if $media == large-1280 { //y
    @media only screen and (min-width: 80.0em) { @content; }  /* min-width 1280px, ylarge screens */
    @media only screen and (min-width: 80.0em) and (max-width: 85.313em) { @content; } /* min-width 1280px and max-width 1365px, use when QAing large screen-only issues */
  }
  @else if $media == large-1366 { //y
    @media only screen and (min-width: 85.375em) { @content; }  /* min-width 1366px, ylarge screens */
    @media only screen and (min-width: 85.375em) and (max-width: 89.938em) { @content; } /* min-width 1366px and max-width 1439px, use when QAing large screen-only issues */
  }
  @else if $media == large-1440 { //x
    // Foundation - 90.063em
    @media only screen and (min-width: 90.0em) { @content; } /* min-width 1440px, xlarge screens */
    @media only screen and (min-width: 90.0em) and (max-width: 96.250em) { @content; } /* min-width 1440px and max-width 1540px, use when QAing xlarge screen-only issues */
  }
  @else if $media == large-1600 {
    @media only screen and (min-width: 100.0em) { @content; } /* min-width 1600px, xlarge screens */
    @media only screen and (min-width: 100.0em) and (max-width: 112.500em) { @content; } /* min-width 1600px and max-width 1800px, use when QAing xlarge screen-only issues */
  }
  @else if $media == large-1920 { //xx
    // Foundation - 120.0em
    @media only screen and (min-width: 120.0em) { @content; }  /* min-width 1920px, xlarge screens */
  }
}
