@@include('/dev/inc/head.html')
@@include('/dev/inc/nav.html')
<section class="large-12 columns title-bar  animated fadeInUp paused">
  <div class="large-6 small-6 columns no-padding">
    <h2>Blog</h2>
  </div>
  <div class="large-6 small-6 columns no-padding">
    <ul class="title-bar__extras">
      <li><a href=""><i class="icon-magnifier"></i></a></li>
      <li><a href="http://facebook.com/progastecnologia" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="http://twitter.com/progastec" target="_blank"><i class="icon-twitter"></i></a></li>
    </ul>
  </div>
</section>
<section class="large-12 columns blog animated fadeInUp paused">
  <div class="row">
    <div class="large-8 columns">
      <article class="article  animated fadeInUp paused">
        <header>
          <h2>Lançamento da versão 2.0 do ProGás</h2>
          <p><span class="article-date">1 de Maior de 2015</span>, Escrito por <span class="author">Higo Matos</span></p>
        </header>
        <section>
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.
            Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
            Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.
            Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis,
            vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi.
            Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper.
            Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis.
            Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus,
            non scelerisque augue. Aenean justo massa.</p>
        </section>
      </article>
      <article class="article  animated fadeInUp paused">
        <header>
          <h2>Lançamento da versão 2.0 do ProGás</h2>
          <p><span class="article-date">1 de Maior de 2015</span>, Escrito por <span class="author">Higo Matos</span></p>
        </header>
        <section>
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.
            Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
            Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.
            Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis,
            vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi.
            Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper.
            Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis.
            Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus,
            non scelerisque augue. Aenean justo massa.</p>
        </section>
      </article>
    </div>
    <aside class="large-4 columns collapse">
      <div class="large-12 columns">
        <h3>Conheça as empresas que podem ajudar em seu negócio</h3>
      </div>
      <!-- If you are using version 5.5 or greater you can use <ul>'s and <li>'s for Accordion markup -->
      @@include('/dev/inc/nav-blog.html')
    </aside>
  </div>
</section>

@@include('/dev/inc/try.html')
@@include('/dev/inc/footer.html')
