    @@include('/dev/inc/head.html')
    @@include('/dev/inc/nav.html')
    <section class="large-12 columns banner animated fadeInUp paused">
      <div class="row">
        <h2 class="animated fadeInUp paused-2">Um modo diferente<br/> de gerenciar sua empresa<br/><small>Sua revenda de gás na palma de sua mão</small></h2>
      </div>
    </section>
    @@include('/dev/inc/try.html')
    <section class="large-12 columns features-tab animated fadeInUp paused ">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1"><i class="icon-rocket"></i>Venda mais fácil</a></li>
        <li class="tab-title"><a href="#panel2"><i class="icon-iphone"></i>Acompanhe de onde estiver</a></li>
        <li class="tab-title"><a href="#panel3"><i class="icon-chart-growth"></i>Esteja um passo à frente</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <div class="large-6 large-offset-6 columns">
            <h2><strong>Agilidade</strong> para tocar<br> o seu negócio</h2>
            <p class="features-tab__description">O sistema dispõe de uma tela de vendas simples e ágil,
              que permite automatizar o passo a passo de vendas em menos de 30 segundos.</p>
          </div>
        </div>
        <div class="content" id="panel2">
          <div class="large-6 large-offset-6 columns">
            <h2>Tenha <strong>mobilidade</strong> para <br> gerenciar sua empresa</h2>
            <p class="features-tab__description">Sistema multiplataforma, que lhe dará a comodidade de acompanhar
              todos os processos de sua revenda de onde estiver, basta ter um computador, tablet ou até mesmo seu smartphone.</p>
          </div>
        </div>
        <div class="content" id="panel3">
          <div class="large-6 large-offset-6 columns">
            <h2>Aplique os conceitos de <br><strong>inteligência empresarial</strong> na sua revenda</h2>
            <p class="features-tab__description"> Temos uma plataforma de monitoramento de informações
              produzindo conteúdo relevante para sua analise e tomada de decisões estratégicas.</p>
          </div>
        </div>
      </div>
    </section>
    @@include('/dev/inc/testimonials.html')
    @@include('/dev/inc/footer.html')
