@@include('/dev/inc/head.html')
@@include('/dev/inc/nav.html')
<section class="large-12 columns title-bar  animated fadeInUp paused">
    <h2>Plano adequado<br/><strong> pra você</strong></h2>
</section>
<section class="large-6 large-centered columns prices  animated fadeInUp paused">
  <div class="large-6 columns">
    <ul class="pricing-table  animated fadeInUp paused">
      <li class="title">Grátis</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="price"><p>R$ 0<sup>.0</sup></p></li>
    </ul>
  </div>
  <div class="large-6 columns">
    <ul class="pricing-table special animated fadeInUp paused">
      <li class="title">Premium</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="price"><p>R$ 29<sup>.90</sup></p></li>
    </ul>
  </div>
</section>

@@include('/dev/inc/try.html')
@@include('/dev/inc/footer.html')
