@@include('/dev/inc/head.html')
@@include('/dev/inc/nav.html')
<section class="large-12 columns title-bar  animated fadeInUp paused">
    <h2>Características e<br/><strong> Benefícios</strong></h2>
</section>

<section id="panel1" class="large-12 columns features animated fadeInRight paused">
  <div class="large-6 large-offset-6 columns feature">
    <h2>Venda seus produtos <br> em menos de <strong>30 segundos</strong></h2>
    <p class="features__description">Processo de vendas desenvolvido de forma intuitiva, automatizando várias etapas no fluxo de vendas,
       com integração ao identificador de chamadas e acompanhamento do processo de entrega em tempo real. </p>
  </div>
</section>
<section id="panel4" class="large-12 columns features animated fadeInRight paused">
  <div class="large-6 columns feature">
    <h2>Previsão de compra<br><strong>por cliente</strong></h2>
    <p class="features__description">Desenvolvido para minimizar a perda de clientes, o sistema dispõe de uma funcionalidade
       que acompanha o comportamento das compras de cada consumidor para auxiliar a administração na tomada de decisões. </p>
  </div>
</section>
<section id="panel1" class="large-12 columns features animated fadeInRight paused">
  <div class="large-6 large-offset-6 columns feature">
    <h2>Emissão de boletos de cobrança</h2>
    <p class="features__description">O sistema permite criar e enviar boletos bancários que chegam diretamente
       na caixa de e-mail do cliente proporcionando maior agilidade nas cobranças..</p>
  </div>
</section>
@@include('/dev/inc/try.html')
@@include('/dev/inc/footer.html')
