@@include('/dev/inc/head.html')
@@include('/dev/inc/nav.html')
<section class="large-12 columns title-bar">
  <div class="large-6 columns no-padding">
    <h2>Serviços</h2>
  </div>
  <div class="large-6 columns no-padding">
    <ul class="title-bar__extras">
      <li><a href=""><i class="icon-magnifier"></i></a></li>
      <li><a href=""><i class="icon-facebook"></i></a></li>
      <li><a href=""><i class="icon-twitter"></i></a></li>
    </ul>
  </div>
</section>
<section class="large-12 columns services">
  <div class="row">
    <div class="large-8 columns">
      <h2>Serviço <span class="breadcrumb">> Conserto</span></h2>
      <div class="service__filters">
        <span class="service__filters-title">Filtros:</span>
        <span class="service__filter"><i class="icon-map-marker"></i>Cidade:
          <select name="" id="">
            <option value="">Teresina</option>
            <option value="">Parnaíba</option>
          </select>
        </span>
      </div>
      <section class="large-6 columns">
        <div class="service-client service-client-full">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis,
              vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi.
              Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper.
              Pharetra in mattis</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
            <ul class="service-client__list-links">
              <li class="service-client__link"><a href=""><i class="icon-facebook"></i></a></li>
              <li class="service-client__link"><a href=""><i class="icon-twitter"></i></a></li>
            </ul>
          </div>
      </div>
      </section>
      <section class="large-6 columns">
        <div class="service-client service-client-full">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis,
              vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi.
              Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper.
              Pharetra in mattis</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
            <ul class="service-client__list-links">
              <li class="service-client__link"><a href=""><i class="icon-facebook"></i></a></li>
              <li class="service-client__link"><a href=""><i class="icon-twitter"></i></a></li>
            </ul>
          </div>
      </div>
      </section>
      <section class="large-6 columns">
        <div class="service-client">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
          </div>
      </div>
      </section>
      <section class="large-6 columns">
        <div class="service-client">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
          </div>
      </div>
      </section>
      <section class="large-6 columns">
        <div class="service-client">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
          </div>
      </div>
      </section>
      <section class="large-6 columns">
        <div class="service-client">
          <div class="service-client__image">

          </div>
          <div class="service-client__content">
            <h4>Empresa A</h4>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
            <p class="service-client__tel"><i class="icon-phone"></i>(86) 3233.3432</p>
          </div>
      </div>
      </section>
        </div>
        <aside class="large-4 columns collapse">
          <div class="large-12 columns">
            <h3>Conheça as empresas que podem ajudar em seu negócio</h3>
          </div>
          <!-- If you are using version 5.5 or greater you can use <ul>'s and <li>'s for Accordion markup -->
          @@include('/dev/inc/nav-blog.html')
        </aside>
      </div>
    </section>

    @@include('/dev/inc/try.html')
    @@include('/dev/inc/footer.html')
