@@include('/dev/inc/head.html')
@@include('/dev/inc/nav.html')
<section class="large-12 columns title-bar  animated fadeInUp paused">
    <div class="large-6 small-6 columns no-padding">
      <h2>Ajuda</h2>
    </div>
    <div class="large-6 small-6 columns no-padding">
      <ul class="title-bar__extras">
        <li><a href="#" data-tooltip aria-haspopup="true" title="(86) 9957-1249" class="has-tip tip-left" ><i class="icon-whatsapp"></i></a></li>
        <li><a href="http://facebook.com/progastecnologia" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a href="http://twitter.com/progastec" target="_blank"><i class="icon-twitter"></i></a></li>
      </ul>
    </div>
</section>
<section class="large-12 columns help  animated fadeInUp paused">
  <div class="row">
    <h2>Passando por problemas <br> para usar o sistema? <br><small>Envie uma mensagem que em instantes nosso suporte irá responder seu problema</small></h2>
    <form action="" class="form-normal">
      <div class="row">
        <div class="large-12 columns">
          <label for="problem">Diga seu problema
            <textarea name="problem" id="problem" cols="30" rows="10"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="email">Seu email
            <input type="email" name="email" id="email"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-3 large-centered columns">
          <a class="button success expand"href="">Enviar Mensagem</a>
        </div>
      </div>
    </form>
    <div class="large-12 columns">
      <p class="help__sub"><i class="icon-phone"></i>Ligue para gente (86) 3232.3232 </p>
      <p class="help__sub"><i class="icon-whatsapp"></i>Adicione no Whats (86) 9957-1249 </p>
      <p class="help__sub"><i class="icon-skype"></i>Skype: suporte.progas </p>
    </div>
  </div>
</section>

@@include('/dev/inc/try.html')
@@include('/dev/inc/footer.html')
