$color-orange: #f97e07;
$color-green: #21998e;
$color-green-lighten: #21998e;
$color-grey: #4f5b63;
$color-grey-lighten: #bcbcbc;
$color-blue: #1285d2;


$font-family-1: 'Open Sans', 'Arial', sans-serif;

$global-gutter: 0.9rem;
$global-radius: 5px;
