body,h1,h2,h3,h4,a,p{
  font-family: $font-family-1;
}
h1,h2,h3{
  letter-spacing:-1px;
}
h2,h3{
  font-size:rem(48);
  text-transform:uppercase;
  color:$color-orange;
  @include respond-to(small-320){
    font-size:rem(24);
  }
  @include respond-to(small-screen){
    font-size:rem(24);
  }
  @include respond-to(medium-screen){
    font-size:rem(48);
  }
}
h3{
  font-size:rem(28);
  @include respond-to(small-320){
    font-size:rem(14);
  }
  @include respond-to(small-screen){
    font-size:rem(14);
  }
  @include respond-to(medium-screen){
    font-size:rem(28);
  }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 2px solid $color-grey-lighten;
  box-shadow: none;
}

aside{
  h3{
    font-size:rem(20);
    text-transform:inherit;
  }
}
