.button{
  border-radius: $global-radius*10;
  border:2px solid $color-grey-lighten;
  color:$color-grey-lighten;
  font-size:rem(12);
  padding: $global-gutter $global-gutter*2;
  font-family:$font-family-1;
  background:#fff;
  text-transform:uppercase;
}

.slick-dots li button:before{
  font-size:rem(30);
}

.form-normal{
  label{
    font-weight:bold;
    margin-bottom: $global-gutter;
  }
  input,textarea{
    border-radius:$global-radius;
    border:1px solid $color-grey-lighten;
  }
}

.no-padding{
  padding:0;
}

.paused, .paused-2 {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
