@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-askd14');
	src:url('../fonts/icomoon.eot?#iefix-askd14') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-askd14') format('woff'),
		url('../fonts/icomoon.ttf?-askd14') format('truetype'),
		url('../fonts/icomoon.svg?-askd14#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
	content: "\e603";
}

.icon-news:before {
	content: "\e658";
}

.icon-bookmark:before {
	content: "\e673";
}

.icon-tags:before {
	content: "\e682";
}

.icon-cash:before {
	content: "\e683";
}

.icon-map-marker:before {
	content: "\e68b";
}

.icon-iphone:before {
	content: "\e699";
}

.icon-smartphone:before {
	content: "\e69a";
}

.icon-ipad:before {
	content: "\e69b";
}

.icon-laptop:before {
	content: "\e69d";
}

.icon-chart-growth:before {
	content: "\e6bd";
}

.icon-rocket:before {
	content: "\e6dd";
}

.icon-truck:before {
	content: "\e6e9";
}

.icon-timer:before {
	content: "\e72c";
}

.icon-magnifier:before {
	content: "\e759";
}

.icon-chevron-up:before {
	content: "\e75f";
}

.icon-chevron-down:before {
	content: "\e760";
}

.icon-facebook:before {
	content: "\e600";
}

.icon-phone:before {
	content: "\e601";
}

.icon-twitter:before {
	content: "\e615";
}

.icon-skype:before {
	content: "\e602";
}
