@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-1y3srf');
	src:url('fonts/icomoon.eot?#iefix-1y3srf') format('embedded-opentype'),
		url('fonts/icomoon.woff?-1y3srf') format('woff'),
		url('fonts/icomoon.ttf?-1y3srf') format('truetype'),
		url('fonts/icomoon.svg?-1y3srf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-news:before {
	content: "\e658";
}

.icon-bookmark:before {
	content: "\e673";
}

.icon-tags:before {
	content: "\e682";
}

.icon-cash:before {
	content: "\e683";
}

.icon-map-marker:before {
	content: "\e68b";
}

.icon-chart-growth:before {
	content: "\e6bd";
}

.icon-truck:before {
	content: "\e6e9";
}

.icon-timer:before {
	content: "\e72c";
}

.icon-magnifier:before {
	content: "\e759";
}

.icon-chevron-up:before {
	content: "\e75f";
}

.icon-chevron-down:before {
	content: "\e760";
}

.icon-facebook:before {
	content: "\e600";
}

.icon-phone:before {
	content: "\e601";
}

.icon-twitter:before {
	content: "\e615";
}

.icon-skype:before {
	content: "\e602";
}

