<footer class="footer-main large-12 columns animated fadeInUp paused">
    <div class="large-3 columns">
      <img class="footer-main__logo" src="img/logo-footer.png" alt="">
      <p>A nossa missão é melhorar os processos empresariais de qualquer empresa de gás</p></div>
    <div class="large-9 columns">
      <div class="large-3 columns">
        <ul>
          <li class="footer-main__title">Empresa</li>
          <li><a href="">Sobre</a></li>
          <li><a href="">Time</a></li>
          <li><a href="">Trabalhe aqui</a></li>
          <li><a href="">Notícia</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="footer-main__title">Produto</li>
          <li><a href="produto.html">Recursos</a></li>
          <li><a href="preco.html">Preço</a></li>
          <li><a href="">Cliente</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="footer-main__title">Suporte</li>
          <li><a href="suporte.html">Ajuda</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="footer-main__title">Contato</li>
          <li>Avenida João XXIII, 5457<br>Teresina-PI</li>
          <li><i class="icon-phone"></i> (86) 3233.3333</li>
          <li><i class="icon-whatsapp"></i> (86) 9957-1249</li>
          <li><a href="">progas@progastecnologia.com</a></li>
        </ul>
        <ul class="footer-social">
          <li></li>
          <li><a href="http://facebook.com/progastecnologia" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="http://twitter.com/progastec" target="_blank"><i class="icon-twitter"></i></a></li>
        </ul>
      </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>
