<div class="large-12 columns">
<ul class="accordion aside-menu" data-accordion>
  <li class="accordion-navigation aside-item-1">
    <a href="#panel1a"><i class="icon-news"></i>Notícias <i class="icon-chevron-down"></i></a>
    <div id="panel1a" class="content">
      <ul class="aside-menu__categories">
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-navigation aside-item-2">
    <a href="#panel2a"><i class="icon-tags"></i>Produtos <i class="icon-chevron-down"></i></a>
    <div id="panel2a" class="content">
      <ul class="aside-menu__categories">
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-navigation aside-item-3">
    <a href="#panel3a"><i class="icon-truck"></i>Serviços <i class="icon-chevron-down"></i></a>
    <div id="panel3a" class="content">
      <ul class="aside-menu__categories">
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-navigation aside-item-4">
    <a href="#panel4a"><i class="icon-bookmark"></i>Eventos <i class="icon-chevron-down"></i></a>
    <div id="panel4a" class="content">
      <ul class="aside-menu__categories">
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
        <li class="aside-menu__category">
          <a href="">Mídia</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
</div>
