<nav class="nav-main animated fadeInUp paused fixed" role="navigation">
  <section class="top-bar-section">    <!-- Left Nav Section -->
    <ul class="left">
      <li class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></li>
      <li><a class="active" href="produto.html">Produto</a></li>
      <li><a href="preco.html">Preços</a></li>
      <li><a href="suporte.html">Ajuda</a></li>
      <li><a href="blog.html">Blog</a></li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right hide-for-small-only">
      <li class="has-form">
        <form class="login" action="">
        <div class="row">
          <div class="small-4 columns">
            <input type="text" placeholder="E-mail"/>
          </div>
          <div class="small-4 columns">
            <input type="text" placeholder="Senha"/>
            <a class="login__lost-password" href="#">Esqueci a senha</a>
          </div>
          <div class=" small-4 columns">
            <a href="#" class="button expand">Entrar</a>
          </div>
        </div>
      </form>
      </li>
    </ul>
  </section>
</nav>
