<section class="large-12 columns testimonials animated fadeInUp paused">
  <div class="row">
    <h2>Veja o que nossos <br> <strong>clientes</strong> tem a dizer</h2>
    <div class="testimonials-list large-12 columns">
      <div class="testimonial">
        <div class="large-5 columns">
          <p class="testimonial__quotes">“</p>
          <img class="testimonial__client-image" src="img/client.jpg" alt="">
        </div>
        <div class="large-7 columns">
          <p>Já havia investido em vários sistemas do mercado para melhorar a gestão da minha revenda,
            ainda bem que descobri o progás e hoje tem uma organização que sempre sonhei! <br>
            <author><strong>Nacional Gás</strong> - Joaquim Barbosa, Diretor</author>
          </p>
        </div>
      </div>
      <div class="testimonial">
        <div class="large-5 columns">
          <p class="testimonial__quotes">“</p>
          <img class="testimonial__client-image" src="img/client-2.jpg" alt="">
        </div>
        <div class="large-7 columns">
          <p>Tentei invadir a Rússia para roubar seus sistemas de gerenciar Gás e não consegui, tentei pegar o Oriente médio e também não consegui,
            enfim, chegou o ProGás para acabar com meus problemas e parar com essas guerras! <br>
            <author><strong>Estados Unidos</strong> - Obama, Presidente</author>
          </p>
        </div>
      </div>
      <div class="testimonial">
        <div class="large-5 columns">
          <p class="testimonial__quotes">“</p>
          <img class="testimonial__client-image" src="img/client.jpg" alt="">
        </div>
        <div class="large-7 columns">
          <p>Já havia investido em vários sistemas do mercado para melhorar a gestão da minha revenda,
            ainda bem que descobri o progás e hoje tem uma organização que sempre sonhei! <br>
            <author><strong>Nacional Gás</strong> - Joaquim Barbosa, Diretor</author>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
