<section class="large-12 columns try animated fadeInUp paused">
  <div class="row">
    <h3>Experimente por <strong>30 dias</strong></h3>
  </div>
  <div class="large-3 medium-6 columns">
    <input type="text" placeholder="Seu e-mail">
  </div>
  <div class="large-3 medium-6  columns">
    <input type="text" placeholder="Crie sua senha">
  </div>
  <div class="large-3 medium-6  columns">
    <input type="text" placeholder="Nome de sua empresa">
  </div>
  <div class="large-3 medium-6  columns">
    <a href="" class="button expand">Experimentar</a>
  </div>
</section>
