.aside-menu{
  .accordion-navigation{
    margin-bottom: $global-gutter !important;
    a{
      border-radius:  $global-radius;
      font-family:$font-family-1;
    }
    a,.content,.content.active{
      color:#fff;
      font-size:rem(25);
      text-transform:uppercase;
      background-color:$color-orange;
      @include transition(background 0.3s ease);
      [class^="icon-"], [class*=" icon-"]{
        margin-right: $global-gutter;
        font-size:rem(40);
      }
      .icon-chevron-up, .icon-chevron-down{
        font-size:rem(15);
        float:right;
        margin-right: 0;
        line-height: 3;
      }
      &:hover{
        background-color:darken($color-orange,10%);
      }
    }
    .content.active{
      overflow:auto;
      font-size:rem(12);
      border-bottom-left-radius:$global-radius;
      border-bottom-right-radius:  $global-radius;
    }
    &.active > a{
      background-color: $color-orange;
      border-top-left-radius:$global-radius;
      border-top-right-radius:  $global-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.aside-item-2 > a{
      background-color:darken($color-orange,5%);
      &:hover{
        background-color:darken($color-orange,15%);
      }
    }
    &.aside-item-3 > a{
      background-color:darken($color-orange,10%);
      &:hover{
        background-color:darken($color-orange,20%);
      }
    }
    &.aside-item-4 > a{
      background-color:darken($color-orange,15%);
      &:hover{
        background-color:darken($color-orange,25%);
      }
    }
  }
  .aside-menu__category{
    float:left;
    margin-right: $global-gutter;
    > a{
      background:#fff;
      padding: $global-gutter/2 $global-gutter;
      margin-bottom: $global-gutter/2;
      border-radius:$global-radius*5;
      font-size:rem(12);
      color:$color-orange;
      display:block;
    }
  }
}
.aside-menu__categories{
  list-style:none;
  float:left;
  margin-left: 0;
}
