.banner{
  height: 380px;
  background: url(../img/banner.jpg) no-repeat $color-orange;
  background-size:cover;
  margin-top: 120px;
  @include respond-to(small-320){
    height: 200px;
    background-size:cover;
    background-position: 60%;
  }
  @include respond-to(small-screen){
    height: 200px;
    background-size:cover;
    background-position: 60%;
  }
  @include respond-to(medium-screen){
    height: 380px;
    background-size:cover;
    background-position: inherit;
  }
  h2{
    color:#fff;
    padding-top: 8%;
    small{
      text-transform:initial;
      color:#fff;
    }
  }
}
