.blog{
  margin: $global-gutter*2 0;
}

.article{
  margin-bottom:$global-gutter;
  border-bottom:2px solid $color-grey-lighten;
  h2{
    text-transform:inherit;
    @include respond-to(small-320){
      font-size: rem(25);
    }
    @include respond-to(small-screen){
      font-size: rem(25);
    }
    @include respond-to(medium-screen){
      font-size: rem(35);
    }
  }
  header > p{
    font-weight:bold;
    font-size:rem(16);
  }
  .author{
    color:$color-blue;
  }
  p{
    color:$color-grey;
    font-size:rem(14);
  }

}
