.features-tab{
  padding: 0;
  h2{
    line-height:1.5;
    margin: $global-gutter*4 0 2rem 0;
    @include respond-to(small-320){
      margin: 11rem 0 0 0;
    }
    @include respond-to(small-screen){
      margin: 11rem 0 0 0;
    }
    @include respond-to(medium-screen){
      margin: $global-gutter*4 0 2rem 0;
    }
  }
  // h2, p{
  //   opacity: 0;
  // }
  p{
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .tab-title{
    @include respond-to(small-320){
      width: 100%;
    }
    @include respond-to(small-screen){
      width: 100%;
    }
    @include respond-to(medium-screen){
      width: 33.3%;
    }

    &.active > a, > a{
      text-align:center;
      font-family:$font-family-1;
      color:$color-orange;
      text-transform:uppercase;
      @include respond-to(small-320){
        font-size:rem(20);
      }
      @include respond-to(small-screen){
        font-size:rem(20);
      }
      @include respond-to(medium-screen){
        font-size:rem(24);
      }
    }
    [class^="icon-"], [class*=" icon-"]{
      margin-right: $global-gutter;
      @include respond-to(small-320){
        font-size:rem(25);
      }
      @include respond-to(small-screen){
        font-size:rem(25);
      }
      @include respond-to(medium-screen){
        font-size:rem(24);
      }
    }
  }
  .tabs-content{
    margin-bottom: 0;
  }
  .content{
    overflow: hidden;
    @include respond-to(small-320){
      padding: 1rem 0;
    }
    @include respond-to(small-screen){
      padding: 1rem 0;
    }
    @include respond-to(medium-screen){
      padding: 4rem 0;
    }
  }
}
.feature{
  overflow: hidden;
  @include respond-to(small-320){
    padding: 1rem 0;
  }
  @include respond-to(small-screen){
    padding: 1rem 0;
  }
  @include respond-to(medium-screen){
    padding: 4rem 0;
  }
  h2{
    line-height:1.5;
    margin: $global-gutter*4 0;
    @include respond-to(small-320){
      margin: 11rem 0 0 0;
    }
    @include respond-to(small-screen){
      margin: 11rem 0 0 0;
    }
    @include respond-to(medium-screen){
      margin: $global-gutter*4 0;
    }
  }
}

#panel1,#panel2,#panel3,#panel4{
  background:url(../img/1.jpg) no-repeat;

  @include respond-to(small-320){
    background-size:170%;
  }
  @include respond-to(small-screen){
    background-size:170%;
  }
  @include respond-to(medium-screen){
    background-size:cover;
    min-height: 545px;
  }
}
#panel2{
  background:url(../img/2.jpg) no-repeat;
}
#panel3{
  background:url(../img/3.jpg) no-repeat;
}
#panel4{
  background:url(../img/2-1.jpg) no-repeat;
  @include respond-to(small-320){
    background-position-x: -190px;
    background-size: 170%;
  }
  @include respond-to(small-screen){
    background-position-x: -190px;
    background-size: 170%;
  }
  @include respond-to(medium-screen){
    background-position-x: 0px;
    background-size:cover;
  }
}
