.footer-main{
  background: $color-grey;
  color:#fff;
  padding-top: $global-gutter*2;
  padding-bottom: $global-gutter*2;
  ul{
    list-style:none;
  }
  li a{
    color: #fff;
    @include respond-to(small-320){
      font-size:rem(14);
    }
    @include respond-to(small-screen){
      font-size:rem(14);
    }
    @include respond-to(medium-screen){
      font-size:rem(16);
    }
  }
}
.footer-main__logo{
  margin-bottom: $global-gutter;
}

.footer-main__title{
  margin-bottom: $global-gutter;
  font-weight:bold;
  text-transform:uppercase;
}

.footer-social{
  li{
    float:left;
    margin-right: $global-gutter;
  }
}
