.help{
  h2{
    text-transform:none;
    text-align:center;
    margin-top: $global-gutter*2;
    small{
      font-size:rem(14);
    }
  }
  form{
    margin-bottom: $global-gutter*2;
  }
  .button{
    background:none;
    color:$color-green-lighten;
    border:2px solid $color-green-lighten;
  }
}

p.help__sub{
  text-align:center;
  [class^="icon-"], [class*=" icon-"]{
    margin-right: $global-gutter;
  }
}
