.nav-main{
  height:120px;
  background:#fff;
  color:$color-orange;
  box-shadow: 0px 2px 10px #ccc;
  ul{
    list-style:none;
  }
}

.top-bar-section .has-form{
  background:#fff;
  padding: 3rem 0;
}

.top-bar-section ul{
  list-style:none;
  &.left{
    @include respond-to(small-320){
      width:100%;
    }
    @include respond-to(small-screen){
      width:100%;
    }
    @include respond-to(medium-screen){
      width:70%;
    }
  }
  &.right{
    width:30%;
  }
  li{
    @include respond-to(small-320){
      padding: 1rem 0.9rem 0 0.9rem;
    }
    @include respond-to(small-screen){
      padding: 1rem 0.9rem 0 0.9rem;
    }
    @include respond-to(medium-screen){
      padding: 3rem 0.9rem 0 0.9rem;
    }

    &.logo{
      padding: $global-gutter;
    }
  }
}
.top-bar-section ul li:hover:not(.has-form) > a{
  background-color: initial;
  background: initial;
  color: $color-orange;
}
.top-bar-section li:not(.has-form) a:not(.button){
  &.active{
    border:1px solid $color-orange;
    border-radius:$global-radius*10;
    color: $color-orange;
  }
}

.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button),.top-bar-section li:not(.has-form) a:not(.button):hover{
  background:#fff;
  color:$color-grey;
  font-size:rem(24);
  font-family: $font-family-1;
  text-transform:uppercase;
  @include respond-to(small-320){
    font-size:rem(12);
  }
  @include respond-to(small-screen){
    font-size:rem(12);
  }
  @include respond-to(medium-screen){
    font-size:rem(24);
  }
}

.top-bar-section ul li.logo{
  @include respond-to(small-320){
    padding: 0;
    margin:0 26%;
    padding-bottom: 20px;
  }
  @include respond-to(small-screen){
    padding: 0;
    margin:0 26%;
    padding-bottom: 20px;
  }
  @include respond-to(medium-screen){
    padding: 0;
    margin:0;
    padding-bottom: 20px;
  }
  @include respond-to(large-1024){
    padding: $global-gutter;
    margin:inherit;
    padding-bottom: 0px;
  }
}
.top-bar-section li:not(.has-form){
  @include respond-to(small-320){
    width: 50%;
    float: left;
    padding: 0;
    text-align: center;
  }
  @include respond-to(small-screen){
    width: 50%;
    float: left;
    padding: 0;
    text-align: center;
  }
  @include respond-to(medium-screen){
    width: auto;
    float: inherit;
    text-align: inherit;
    padding: 2rem 0rem 0 0rem;
  }
  @include respond-to(large-1024){
    width: auto;
    float: inherit;
    text-align: inherit;
    padding: 3rem 0.9rem 0 0.9rem;
  }
  > a{
    @include respond-to(small-320){
      padding: 5px;
      border:1px solid #fff;
    }
    @include respond-to(small-screen){
      padding: 5px;
    }
    @include respond-to(medium-screen){
      padding: 12px 0 12px 0;
    }
  }
}
