.prices{
  padding-top: $global-gutter*2;
  padding-bottom: $global-gutter*2;
}

.pricing-table{
  padding:$global-gutter*2;
  border:1px solid $color-grey-lighten;
  border-radius:$global-radius;
  cursor:pointer;
  @include transition(all .3s ease);
  @include respond-to(small-320){
    margin-top: $global-gutter;
  }
  @include respond-to(small-screen){
    margin-top: $global-gutter;
  }
  @include respond-to(medium-screen){
    margin-top: $global-gutter*8;
  }
  &:hover{
    border: 1px solid $color-orange;
    box-shadow: 0px 0px 31px 0px $color-orange;
  }
  li{
    border-bottom:none;
    font-family:$font-family-1;
    color:$color-grey;
  }
  .cta-button,.bullet-item{
    border:none;
    background:transparent;
  }
  .title{
    border-bottom: 2px solid $color-grey-lighten;
  }
  .price{
    border-top: 2px solid $color-grey-lighten;
  }
  .title,.price,.price p{
    font-family:$font-family-1;
    font-size:rem(50);
    color:$color-orange;
    margin-bottom: $global-gutter;
    background:none;
    @include respond-to(small-320){
      font-size:rem(30);
    }
    @include respond-to(small-screen){
      font-size:rem(30);
    }
    @include respond-to(medium-screen){
      font-size:rem(50);
    }
  }
  sup{
    @include respond-to(small-320){
      font-size:1rem;
    }
    @include respond-to(small-screen){
      font-size:1rem;
    }
    @include respond-to(medium-screen){
      font-size:1.8rem;
    }
  }
  .real,.cents{
    float:left;
    text-align:center;
  }
  .cents{
    font-size:rem(20);
  }
  &.special{
    margin: $global-gutter*3 0;
    @include linear-gradient(top, #ffd460 0%, #f97e07 50%);
    border:1px solid rgba(255,255,255,0);
    @include respond-to(small-320){
      margin: $global-gutter 0;
    }
    @include respond-to(small-screen){
      margin: $global-gutter 0;
    }
    @include respond-to(medium-screen){
      margin: $global-gutter*3 0;
    }
    li,.title,.price p{
      color: #fff;
    }
    .title{
      border-bottom: 2px solid rgba(255,255,255,0.5);
    }
    .price{
      border-top: 2px solid rgba(255,255,255,0.5);
    }
    &:hover{
      border: 1px solid $color-orange;
    }
  }
}
