.services{
  margin: $global-gutter*2 0;
  h2{
    font-size:rem(35);
    text-transform:inherit;
  }
}
.breadcrumb{
  font-size:rem(14);
  text-transform:inherit;
}
.service__filters{
  display:block;
  border-top:1px solid $color-orange;
  border-bottom:1px solid $color-orange;
  padding-top: $global-gutter;
  margin-bottom: $global-gutter*2;
  width:100%;
  overflow:auto;
  input,select{
    width:50%;
  }
}
.service__filters-title{
  float:left;
  margin-right: $global-gutter;
  line-height: 2;
}
.service__filter{
  width: 30%;
  float:left;
  margin-right: $global-gutter;
  font-weight: bold;
  [class^="icon-"], [class*=" icon-"]{
    margin-right: $global-gutter/2;
  }
}

.service-client{
  padding: 0;
  border-radius:$global-radius;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  height:160px;
  h4{
    text-transform:uppercase;
    font-weight: bold;
    color:$color-grey;
  }
  p{
    font-size:rem(12);
  }
}
.service-client-full{
  height: auto;
}
.service-client__image{
  background:$color-grey;
  float:left;
  height: 100%;
  width: 120px;
  margin-right:$global-gutter;
  border-top-left-radius:$global-radius;
  border-bottom-left-radius:$global-radius;
}

.service-client-full{
  .service-client__image{
    border-top-left-radius:$global-radius;
    border-top-right-radius:$global-radius;
    width:100%;
    height: 105px;
    float:inherit;
  }
}

.service-client__content{
  margin: $global-gutter;
  overflow:auto;
}

.service-client__list-links{
  margin-left: 0;
  margin-bottom: 0;
  float:right;
}
.service-client__tel{
  float:left;
  [class^="icon-"], [class*=" icon-"]{
    margin-right: $global-gutter;
  }
}
.service-client__link{
  list-style:none;
  float:left;
  margin-right: $global-gutter;
  a{
    color:$color-grey;
  }
}
