.testimonials{
  padding: $global-gutter*2 0;
  @include linear-gradient(-45deg, #ffd460 0%, #f97e07 60%);
  h2{
    color:#fff;
    padding-bottom: $global-gutter*2;
    padding-left: $global-gutter;
    float:left;
  }
  p{
    color:#fff;
    font-style:italic;
    @include respond-to(small-320){
      font-size:rem(14);
    }
    @include respond-to(small-screen){
      font-size:rem(14);
    }
    @include respond-to(medium-screen){
      font-size:rem(20);
    }
    author{
      font-style:normal;
      @include respond-to(small-320){
        font-size:rem(12);
      }
      @include respond-to(small-screen){
        font-size:rem(12);
      }
      @include respond-to(medium-screen){
        font-size:rem(16);
      }
    }
  }
}
p.testimonial__quotes{
  font-family: 'Times New Roman';
  font-style:normal;
  font-size:rem(200);
  color:rgba(255,255,255,0.5);
  float:left;
  margin-bottom: 0;
  line-height:0.8;
}
.testimonial__client-image{
  border-radius:$global-radius*40;
  heigth: 278px;
  width: 278px;
  border:8px solid rgba(0,0,0,0.2);
  @include respond-to(small-320){
    heigth: 150px;
    width: 150px;
  }
  @include respond-to(small-screen){
    heigth: 150px;
    width: 150px;
  }
  @include respond-to(medium-screen){
    heigth: 278px;
    width: 278px;
  }
}
