.title-bar{
  @include linear-gradient(-45deg, #ffd460 0%, #f97e07 60%);
  padding: $global-gutter*2;

  @include respond-to(small-320){
    margin-top: 160px;
  }
  @include respond-to(small-screen){
    margin-top: 160px;
  }
  @include respond-to(medium-screen){
    margin-top: 120px;
  }
  h2{
    color:#fff;
  }
}
ul.title-bar__extras{
    margin-left: 0;
    float:right;
    margin-bottom: 0;
  li{
    float:left;
    list-style:none;
    margin-right: $global-gutter;
    a{
      color:#fff;
      &.has-tip{
        color:#fff;
        border-bottom:none;
        &:hover{
          border-bottom:none;
        }
      }
      @include respond-to(small-320){
        font-size:rem(25);
      }
      @include respond-to(small-screen){
        font-size:rem(25);
      }
      @include respond-to(medium-screen){
        font-size:rem(40);
      }
    }
  }
}
