.try{
  background:$color-green;
  height:200px;
  color:#fff;
  @include respond-to(small-320){
    height:350px;
  }
  @include respond-to(small-screen){
    height:350px;
  }
  @include respond-to(medium-screen){
    height:300px;
  }
  @include respond-to(large-1024){
    height:200px;
  }
  h3{
    color:#fff;
    text-align:center;
    padding: $global-gutter*2 0 $global-gutter 0;
  }
  input{
    background:$color-green;
    border-bottom:2px solid rgba(255,255,255,0.5);
    color: darken($color-green,20%);
    font-size:rem(20);
    margin-top: $global-gutter;
    @include respond-to(small-320){
      font-size:rem(12);
      margin-top: $global-gutter/2;
    }
    @include respond-to(small-screen){
      font-size:rem(12);
      margin-top: $global-gutter/2;
    }
    @include respond-to(medium-screen){
      font-size:rem(20);
      margin-top: $global-gutter;
    }
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    darken($color-green,20%);
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    darken($color-green,20%);
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    darken($color-green,20%);
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    darken($color-green,20%);
  }
  .button{
    font-size:rem(24);
    background:$color-green;
    border:5px solid rgba(255,255,255,0.5);
    color:#fff;
    &:hover{
      background:#fff;
      color:$color-green-lighten;
      border:5px solid darken($color-green,10%);
    }
    @include respond-to(small-320){
      font-size:rem(12);
    }
    @include respond-to(small-screen){
      font-size:rem(12);
    }
    @include respond-to(medium-screen){
      font-size:rem(20);
    }
  }
}
